body {
    text-align: center;
    background-color: rgb(192, 201, 228);
}

.logotyp {
    width: 400px;
   
}

.contact-form {
    margin: 20px;
}

input[type="text"]{

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;

}


button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

#contact-list {
    background-color: white;
    padding: 10px 0 10px 0;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid black;
   border-radius: 30px;
}

.delete-button {
    padding: 2px 5px;
    margin-left: 5px;
    background-color: red;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;

}